.auth .brand-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.auth .brand-logo img {
    /* width: 150px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.cursor-pointer {
    cursor: pointer;
    padding: 3px;
}